@font-face {
    font-family: 'MatrixUnivga';
    src: url('/static/font/mx_univga.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'MatrixUnivgaBold';
    src: url('/static/font/mx_univga.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-primary: 'MatrixUnivga', monospace;
    --font-bold: 'MatrixUnivgaBold', monospace;
    --bg-primary: #000000;
    --bg-secondary: #003B00; 
    --bg-tertiary: #001A00; 
    --text-primary: #00FF41; 
    --text-secondary: #009A22; 
    --accent-color: #00FF41; 
    --accent-hover: #00CC33; 
    --border-color: #009A22; 
    --success-bg: #001A00;
    --success-border: #00FF41;
    --error-bg: #4D0000;
    --error-border: #FF0000;
    --warning-bg: #333300;
    --warning-border: #FFFF00;
    --info-bg: #001A00;
    --info-border: #009A22;
    --card-bg: #003B00;
    --log-bg: #000000;
    --success-color: #00721c;
    --warning-color: #FFFF00;
    --text-on-dark: #FFFFFF; 
    --text-on-light: #000000; 
    --text-secondary-on-dark: #009A22;
}

[data-theme="light"] {
    --font-primary: 'MatrixUnivga', monospace;
    --font-bold: 'MatrixUnivgaBold', monospace;
    --bg-primary: #00FF41;
    --bg-secondary: #FFFFFF;
    --bg-tertiary: #CCFFCC;
    --text-primary: #000000;
    --text-secondary: #003B00;
    --accent-color: #003B00;
    --accent-hover: #001A00;
    --border-color: #003B00;
    --success-bg: #CCFFCC;
    --success-border: #003B00;
    --error-bg: #FFCCCC;
    --error-border: #CC0000;
    --warning-bg: #FFFFCC;
    --warning-border: #CC9900;
    --info-bg: #CCEEFF;
    --info-border: #0066AA;
    --card-bg: #FFFFFF;
    --log-bg: #00FF41;
    --success-color: #747474;
    --warning-color: #000000;
    --text-on-dark: #FFFFFF;
    --text-on-light: #000000;
    --text-secondary-on-dark: #003B00;
}